<!DOCTYPE html>
<html lang="it">
<head>
  
  <meta charset="utf-8">
  <title>UniDent</title>
  
  <meta name="description" content="Scopri come le faccette Unident possono trasformare il tuo sorriso nascondendo in modo efficace ed economico le imperfezioni dentali.">
  <meta name="keywords"
        content="faccette dentali, UniDent Italia, soluzione dentale conveniente, miglioramento del sorriso, faccette di qualità">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <meta property="og:type" content="website">
  <meta property="og:title"
        content="Faccette rimovibili UniDent Italy: una soluzione conveniente ed efficace per un sorriso perfetto [AGGIORNATO 2024]">
  <meta property="og:description"
        content="Scopri come le faccette Unident possono trasformare il tuo sorriso nascondendo in modo efficace ed economico le imperfezioni dentali.">
  <meta property="og:url" content="https://faccetteunident.it">
  <meta property="og:site_name" content="Faccette rimovibili UniDent Italy">
  <meta property="og:image" content="https://faccetteunident.it/images/carillas-promo.png">
  <meta property="og:image:alt" content="Trasforma il tuo sorriso con le faccette UniDent">
  
  <link rel="canonical" href="https://faccetteunident.it">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="alternate" hreflang="it" href="https://faccetteunident.it">
  <link rel="icon" href="https://faccetteunident.it/images/favicon.png">
  

  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/flaticon.css">
  <link rel="stylesheet" href="css/twentytwenty.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/main.css">
  
  <script src="js/jquery.min.js"></script>
</head>
<body>
<div class="site-wrapper">
  <header class="site-header">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-6 logo-wrap">
          <a class="logo">
            <img src="images/logo.png" alt>
          </a>
        </div>
        <div class="col-xl-18 col-lg-16 f_scrin_items">
          <div class="header-img">
            <div class="header-img-item">
              <img src="images/header-img-1.png" alt>
              <div class="header-img-txt">
                Utilizzate da<br>
                94 cliniche a Roma
                <br>
              </div>
            </div>
            <div class="header-img-item">
              <img src="images/header-img-2.png" alt>
              <div class="header-img-txt">
                Realizzate <br> con
                materiali ecologici
              
              </div>
            </div>
            <div class="header-img-item">
              <img src="images/header-img-3.png" alt>
              <div class="header-img-txt">
                Comode <br> per
                l'uso quotidiano
              
              </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </header>
  <main class="site-main">
    <section class="main-screen">
      <div class="girl-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-16">
              <div class="main-scr-cnt">
                <h1 class="main-caption wow fadeInUp">Sorriso perfetto senza
                  visite
                  <br> dail dentista</h1>
                <div class="main-scr-sub-title wow fadeInUp">Con tecnologia innovativa</div>
                <ul class="main-scr-list wow fadeInUp">
                  <li>Ultra sottili, resistenti e comode</li>
                  <li>Misura universale</li>
                  <li>Fissaggio sicuro</li>
                  <li>Tecnologia americana</li>
                </ul>
                <div class="price-block wow fadeInUp" style="color:white">
                  <div class="price-item">
                    <div class="price-title">Prezzo conveniente</div>
                    <div class="price-old-price oldproductsum">
                      <x-oldprice>78</x-oldprice>
                      <x-currency>€</x-currency>
                    </div>
                  </div>
                  <div class="price-item">
                    <div class="price-title">Prezzo solo per oggi</div>
                    <div class="price-new-price productsum">
                      <x-newprice>37,99</x-newprice>
                      <x-currency>€</x-currency>
                    </div>
                  </div>
                </div>
                <a href="#main-modal" class="button main-modal">ORDINA ORA</a>
                <div class="remainder">Quantità rimasta in promozione: <span>15</span><br><i></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="what">
      <div class="container">
        <div class="row">
          <div class="col-lg-12" style="display: flex; flex-direction: column; justify-content: center;">
            <h2 class="caption wow fadeInUp">Cos'è UniDent?</h2>
            <p class="what-cnt wow fadeInUp">È una novità nel mondo dell'odontoiatria. Impiegando solo 3 minuti per
              l'applicazione, vedrai allo specchio un sorriso perfettamente bianco. Importante:
              le faccette UniDent funzionano anche in assenza di denti.
            </p>
            <p class="what-cnt wow fadeInUp">Faccette comode e leggere realizzate con tecnologia 3D, che garantiscono
              massimo comfort e sicurezza nell'uso
            </p>
            <div class="what-img wow fadeInUp d-block d-lg-none">
              <img src="images/unident.jpg" class="img-responsive" alt="UniDent">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="what-img d-none d-lg-block">
              <img src="images/unident.jpg" alt="UniDent" class>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="limitations">
      <div class="container">
        <div class="row">
          <div class="col-lg-11">
            <h2 class="caption wow fadeInUp">Quli difetti <br> è in grado di correggere<br> UniDent?</h2>
            <div class="limitations-wrap">
              <div class="limitations-item wow fadeInUp">
                <div class="limitations-img">
                  <img src="images/limitations-1.jpg" alt>
                </div>
                <div class="limitations-cnt">
                  <div class="limitations-title">Denti storti<br> Morso irregolare</div>
                  <p class="limitations-desc">L'indicazione principale è unla deviazione congenita o acquisita di uno o
                    più denti. UniDent corregge la posizione della mascella, garantendo una distribuzione più uniforme
                    del carico sull'arcata dentale.
                  
                  </p>
                </div>
              </div>
              <div class="limitations-item wow fadeInUp">
                <div class="limitations-img">
                  <img src="images/limitations-2.jpg" alt>
                </div>
                <div class="limitations-cnt">
                  <div class="limitations-title">Fluorosi</div>
                  <p class="limitations-desc">Scurimento dello smalto dentale. UniDent nasconde completamente i denti
                    ingialliti o scuriti,
                    <br> regalando un sorriso esteticamente piacevole.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-11 offset-lg-2">
            <div class="limitations-wrap limitations-wrap-2">
              <div class="limitations-item wow fadeInUp">
                <div class="limitations-img">
                  <img src="images/limitations-3.jpg" alt>
                </div>
                <div class="limitations-cnt">
                  <div class="limitations-title">Diastema o ampio spazio tra i denti</div>
                  <p class="limitations-desc">Indossando regolarmente UniDent, questo difetto viene mascherato e i denti
                    vengono riportati nella posizione anatomicamente corretta. È più economico degli apparecchi
                    ortodontici, facile da rimuovere e mettere senza attrezzature speciali.
                  </p>
                </div>
              </div>
              <div class="limitations-item wow fadeInUp">
                <div class="limitations-img">
                  <img src="images/limitations-4.jpg" alt>
                </div>
                <div class="limitations-cnt">
                  <div class="limitations-title">Difetti visivi</div>
                  <p class="limitations-desc">Possibilità di influenzare immediatamente<br>
                    e correggere la situazione quando ci sono<br>
                    difetti nell'arcata dentale.
                  </p>
                </div>
              </div>
              <div class="limitations-item wow fadeInUp">
                <div class="limitations-img">
                  <img src="images/limitations-5.jpg" alt>
                </div>
                <div class="limitations-cnt">
                  <div class="limitations-title">Mancanza di uno
                    
                    <br> o più denti
                  </div>
                  <p class="limitations-desc">Maschera vari difetti nella disposizione <br>di denti dentale.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <section class="advice">
      <div class="container">
        <div class="row">
          <div class="col-lg-24">
            <h2 class="caption wow fadeInUp">Consiglio del dentista</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-14 order-2 order-lg-1">
            <div class="quote wow fadeInUp"><p>Le faccette sono sicuramente una tendenza moderna che offre la reale
              possibilità di nascondere rapidamente i difetti del sorriso. Ma non bisogna dimenticare che si tratta
              comunque di una levigatura' dello smalto e, per quanto possano essere belle le descrizioni dei danni
              minimi e dell'effetto a lungo termine tutto ciò è temporaneo e lo smalto sui vostri denti non ricrescerà.
              Sono felice che ogni anno sempre più persone preferiscano le faccette rimovibili (capsule) piuttosto che
              limare i propri denti.
            </p>
              <p>UniDent Lab è un pioniere leader nella produzione di faccette rimovibili in tutto il mondo.
                Collaboriamo con questa azienda da quattro anni. Producono faccette rimovibili su misura e di tre
                dimensioni universali. È comodo che siano disponibili in libero mercato e possano essere ordinati
                direttamente a casa. Forniamo ai nostri clienti le dimensioni universali durante il periodo di
                protesizzazione, in quanto si adattano a tutti e non è necessario avere molte dimensioni in magazzino.
              </p>
              <p>Ci sono molti prodotti presenti sul mercato, ma è importante capire che potrebbero non aderire
                saldamente alla vostra mascella o potrebbero non adattarsi affatto. Ci sono pochi prodotti funzionali ed
                è meglio acquistarli dal produttore ufficiale.</p></div>
          
          </div>
          <div class="col-lg-10 order-1 order-lg-2">
            <div class="advice-img-wrap wow fadeInUp">
              <img src="images/stomatolog-ortadont.png" alt class="img-responsive">
              <div class="advice-img-cnt">
                <div class="advice-img-title">Simeon Kolman</div>
                <div class="advice-img-desc">Dottore - ortodontista
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="contacts">
      <div class="container">
        <div class="row">
          <div class="col-lg-24">
            <div class="contact-bg">
              <div class="row justify-content-end">
                <div class="col-xl-8 col-lg-9">
                  <form method="post" class="contact-form wow fadeInUp">
                    <div class="form-top-cnt">
                      <div class="form-top-item">
                        <div class="form-top-cnt-action">Promozione</div>
                        <div class="form-top-cnt-old-price oldproductsum">
                          <x-oldprice>78</x-oldprice>
                          <x-currency>€</x-currency>
                        </div>
                      </div>
                      <div class="form-top-item">
                        <div class="form-top-cnt-title">Prezzo solo per oggi
                        </div>
                        <div class="form-top-cnt-new-price productsum">
                          <x-newprice>37,99</x-newprice>
                          <x-currency>€</x-currency>
                        </div>
                      </div>
                    </div>
                    <input name="offer_id" type="hidden" value="{offer_id}">
                    <input name="geo" type="hidden" value>
                    <input name="web_id" type="hidden" value="{web_id}">
                    <input name="click_id" type="hidden" value="{click_id}">
                    <input name="time_zone" type="hidden" value="+3">
                    <input name="lang" type="hidden" value="RU">
                    <input class="input-form phone" name="name" type="text" placeholder="Nome" required>
                    <input class="input-form phone" name="phone" type="tel" placeholder="Telefono (cellulare attivo)
" required>
                    <div class="reolader">
                      <button class="mm_button button submit-btn">LASCIA UNA RICHIESTA
                      </button>
                      <div class="ajax_loader_block"><img class="ajax_loader" src="images/ajax-loader.gif" alt> <span
                        class="ajax_loader"></span></div>
                    </div>
                    
                    <div class="contact-bottom-txt">Quantità rimasta in promozione: <span>15</span><br><i></i></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="steps">
      <div class="container">
        <div class="row">
          <div class="col-lg-24">
            <h2 class="caption wow fadeInUp">3 semplici passi e il tuo sorriso diventerà irresistibile</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 mobile-video-pd">
            
            <div class="history-tl-container wow fadeInUp">
              <ul class="tl">
                <li class="tl-item" ng-repeat="item in retailer_history wow fadeInUp">
                  <div class="item-title">1 passo</div>
                  <div class="item-detail">Metti le faccette (incluse nel kit) <br> in acqua calda per 2 minuti.</div>
                </li>
                <li class="tl-item wow fadeInUp" ng-repeat="item in retailer_history">
                  <div class="item-title">2 passo</div>
                  <div class="item-detail">Premi saldamente le faccette sui denti per adattarle <br> alla tua impronta.
                  </div>
                </li>
                <li class="tl-item wow fadeInUp" ng-repeat="item in retailer_history">
                  <div class="item-title">3 passo</div>
                  <div class="item-detail">Indossa le faccette.<br> Sorridi più spesso, perché un bel sorriso ti fa
                    splendere.
                  </div>
                </li>
              </ul>
            </div>
            <div class="attention wow fadeInUp">La società produttrice consiglia di acquistare con il set UniDent uno
              spazzolino da denti speciale e il dentifricio, così da pulire accuratamente i denti prima di applicare le
              faccette. È necessario disinfettare regolarmente le faccette.
            </div>
          </div>
          <div class="col-lg-12 mobile-video-pd">
            <div class="video-instr">
              
              <video src="media/video.mp4" autoplay loop muted playsinline width="100%" height="auto"></video>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="reasons">
      <div class="container mobile-video-pd">
        <div class="row">
          <div class="col-lg-24">
            <div class="plus-desc">
              <h2 class="caption wow fadeInUp">Top 3 motivi per acquistare le faccette UniDent - secondo i nostri
                clienti
              </h2>
              <!--<div class="caption-desc wow fadeInUp">Ситуации в жизни когда вам помогут виниры</div>-->
            </div>
          </div>
        </div>
        <div class="reasons-items">
          <div class="row no-gutters">
            <!-- Деловые встречи текст -->
            <div class="col-lg-8 col-md-12 order-1 order-md-1 order-lg-1 wow fadeInUp">
              <div class="reasons-item before-bottom before-1">
                <div class="reasons-cnt">
                  <div class="reasons-title">Quando i propri denti sono consumati e presentano difetti le faccette</div>
                  <div class="reasons-desc">UniDent aiuteranno a rendere il tuo sorriso perfetto. Inoltre, ridurranno la
                    pressione sui denti quando mangi
                  </div>
                </div>
              </div>
            </div>
            <!-- Собеседование картинка -->
            <div class="col-lg-8 col-md-12 order-6 order-md-6 order-lg-2 wow fadeInUp">
              <div class="reasons-item reasons-item-img reasons-img-3 before-top before-2"></div>
            </div>
            <!-- Свадьбы текст -->
            <div class="col-lg-8 col-md-12 order-3 order-md-4 order-lg-3 wow fadeInUp">
              <div class="reasons-item before-bottom">
                <div class="reasons-cnt">
                  <div class="reasons-title">Durante il periodo di protesizzazione</div>
                  <div class="reasons-desc">Opzione ideale in assenza di metà dell'arcata dentale. UniDent ha una
                    struttura monoblocco
                  </div>
                </div>
              </div>
            </div>
            <!-- Деловые встречи картинка -->
            <div class="col-lg-8 col-md-12 order-2 order-md-2 order-lg-4 wow fadeInUp">
              <div class="reasons-item reasons-item-img reasons-img-1"></div>
            </div>
            <!-- Собеседование текст -->
            <div class="col-lg-8 col-md-12 order-5 order-md-5 order-lg-5 wow fadeInUp">
              <div class="reasons-item">
                <div class="reasons-cnt">
                  <div class="reasons-title">Matrimoni, compleanni, anniversari</div>
                  <div class="reasons-desc">Oltre a scegliere bei vestiti, trucco e acconciatura, è molto importante
                    avere un sorriso abbagliante, così nelle foto e nella memoria degli ospiti la tua immagine sarà
                    perfetta
                  </div>
                </div>
              </div>
            </div>
            <!-- Свадьбы картинка -->
            <div class="col-lg-8 col-md-12 order-4 order-md-3 order-lg-6 wow fadeInUp">
              <div class="reasons-item reasons-item-img reasons-img-2 before-top before-3"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="history">
      <div class="container">
        <div class="row">
          <div class="col-lg-24">
            <h2 class="caption wow fadeInUp">Storie reali dei nostri clienti</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-24">
            <div class="owl-carousel owl-theme slider-1 wow fadeInUp">
              <div class="slider-item">
                <div class="quote">Sono stata presa in giro tutta la vita per i miei denti storti e il mio brutto
                  sorriso. Ouando ho trovato su internet la pubblicità di UniDent, tutto è cambiato! Con due semplici
                  clic ho fatto l'ordine e dopo due giorni ho ricevuto le mie faccette. È stato molto facile e veloce
                  metterle e, onestamente, quando mi sono guardata allo specchio per la prima volta, non potevo credere
                  ai miei occhi. Un sorriso perfetto, bianco come la neve. La vita ha iniziato a splendere con nuovi
                  colori. Grazie UniDent
                </div>
                
                <div class="slider-data">
                  <div class="limitations-item">
                    <div class="limitations-img">
                      <img src="images/slider-1-1.jpg" alt>
                    </div>
                    <div class="limitations-cnt">
                      <div class="limitations-title">Maria Korotkova
                      </div>
                      <div class="limitations-desc">24 anni
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="slider-item">
                <div class="quote">Da bambino avevo i denti gialli e storti. Di conseguenza - mancanza di fiducia in me
                  stesso, assenza di vita personale e completa riluttanza a fare nuove conoscenze. Le faccette UniDent,
                  mi hanno letteralmente salvato la vita. Grazie a loro, il sorriso appare magnifico, dritto e bianco
                  come la neve. Sono apparse nuove conoscenze e i vecchi amici hanno ammesso che prima era sgradevole
                  comunicare con me. È passato un anno e ora sono un marito felice di una bellissima moglie e a vita ha
                  iniziato a splendere con nuovi colori. Grazie UniDent
                
                </div>
                <div class="slider-data">
                  <div class="limitations-item">
                    <div class="limitations-img">
                      <img src="images/slider-1-6.jpg" alt>
                    </div>
                    <div class="limitations-cnt">
                      <div class="limitations-title">Roman Bessonov</div>
                      <div class="limitations-desc">24 anni</div>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <div class="slider-item">
                <div class="quote">Usare UniDent è al 100% la migliore alternativa alla visita dal dentista. Ho
                  rischiato e ho comprato le faccette rimovibili, anche se onestamente ero scettica sul prodotto, e ora
                  non me ne pento affatto! Anche gli affari finanziari sono migliorati. Penso sia perché ora ai miei
                  clienti piace di più interagire con me. Un bel sorriso è sempre un bel biglietto da visita
                </div>
                <div class="slider-data">
                  <div class="limitations-item">
                    <div class="limitations-img">
                      <img src="images/slider-1-2.jpg" alt>
                    </div>
                    <div class="limitations-cnt">
                      <div class="limitations-title">Sof'ja Zyrjanova</div>
                      <div class="limitations-desc">30 anni</div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="slider-item">
                <div class="quote">Uso UniDent da circa 4 mesi. Solo emozioni positive durante l'uso. Si applicano molto
                  facilmente e in modo sicuro,
                  i denti sono bianchi, dritti, semplicemente perfetti. Ancora non riesco ad abituarmi al fatto che
                  siano sempre puliti, a volte mi costringo a
                  lavare i denti, questo è uno dei pochi svantaggi, non c'è motivazione per smettere di fumare! La cosa
                  più importante è che le persone che non hanno
                  visto il mio vero sorriso nemmeno immaginano che non siano denti naturali.
                </div>
                <div class="slider-data">
                  <div class="limitations-item">
                    <div class="limitations-img">
                      <img src="images/slider-1-5.jpg" alt>
                    </div>
                    <div class="limitations-cnt">
                      <div class="limitations-title">Alexandra Ignat'eva</div>
                      <div class="limitations-desc">22 anni</div>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <div class="slider-item">
                <div class="quote">È la prima volta che scrivo una recensione su qualcosa, ma le faccette UniDent lo
                  meritano. I denti
                  sono sempre stati il peggior complesso nella mia vita. Purtroppo non avevo soldi per un buon dentista
                  e i necessari trattamenti
                  per migliorare il sorriso (tra il mutuo e il credito per i denti, ha vinto il mutuo). Mi sono lasciato
                  convincere dalla pubblicità e,
                  come si è rivelato, non invano. Le faccette i applicano facilmente e in modo sicuro, e i denti
                  sembrano molto naturali. Consigliato.
                </div>
                <div class="slider-data">
                  <div class="limitations-item">
                    <div class="limitations-img">
                      <img src="images/slider-1-7.jpg" alt>
                    </div>
                    <div class="limitations-cnt">
                      <div class="limitations-title">Dmitrij Borisov</div>
                      <div class="limitations-desc">29 anni</div>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <div class="slider-item">
                <div class="quote">"Tutti mi dicevano che me ne sarei pentita!" Non solo non mi sono pentita sono
                  addirittura felice di aver deciso di credere alla pubblicità e ordinare UniDent e ora mi sto godendo
                  il mio fantastico sorriso!
                </div>
                <div class="slider-data">
                  <div class="limitations-item">
                    <div class="limitations-img">
                      <img src="images/slider-1-3.jpg" alt>
                    </div>
                    <div class="limitations-cnt">
                      <div class="limitations-title">Anastasia Kljušina</div>
                      <div class="limitations-desc">35 anni</div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="slider-item">
                <div class="quote">È passato esattamente un anno da quando ho iniziato a indossare le faccette UniDent.
                  Oggi fatico a immaginare la mia vita con i denti storti, non mi sarei mai perdonato se allora non
                  avessi deciso di fare l'ordine online. È
                  un lusso che chiunque può permettersi.
                </div>
                <div class="slider-data">
                  <div class="limitations-item">
                    <div class="limitations-img">
                      <img src="images/slider-1-4.jpg" alt>
                    </div>
                    <div class="limitations-cnt">
                      <div class="limitations-title">Svetlana Artemova</div>
                      <div class="limitations-desc">27 anni
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
            
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="how-work">
      <div class="container">
        <div class="row">
          <div class="col-lg-24">
            <h2 class="caption wow fadeInUp">Come lavoriamo</h2>
          </div>
          <div class="history-tl-container tl-container-horyzontal wow fadeInUp">
            <ul class="tl">
              <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="tl-item-img">
                  <img src="images/steps-img-1.png" alt>
                </div>
                <div class="item-title">1. Lasci una richiesta <br> sul sito</div>
              </li>
              <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="tl-item-img">
                  <img src="images/steps-img-2.png" alt>
                </div>
                <div class="item-title">2. Il manager<br> ti contatterà<br></div>
              </li>
              <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="tl-item-img">
                  <img src="images/steps-img-3.png" alt>
                </div>
                <div class="item-title">3. Consegniamo<br> all'indirizzo indicato</div>
              </li>
              <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="tl-item-img">
                  <img src="images/steps-img-4.png" alt>
                </div>
                <div class="item-title">4. Paghi il prodotto<br> solo dopo averlo ricevuto
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <footer class="site-footer">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-8 col-lg-12">
            <h2 class="caption wow fadeInUp">Approfitta per ordinare <br> le faccette UniDent.</h2>
            <div class="footer-desc wow fadeInUp">Il modo più semplice<br> e accessibile per avere <br>un sorriso
              affascinante.<br> Provalo anche tu!
            </div>
          
          </div>
          <div class="col-xl-7 col-lg-12 mobile-video-pd">
            <form method="post" class="contact-form wow fadeInUp">
              <div class="form-top-cnt">
                <div class="form-top-item">
                  <div class="form-top-cnt-action">Promozione</div>
                  <div class="form-top-cnt-old-price oldproductsum">
                    <x-oldprice>78</x-oldprice>
                    <x-currency>€</x-currency>
                  </div>
                </div>
                <div class="form-top-item">
                  <div class="form-top-cnt-title">Prezzo solo per oggi</div>
                  <div class="form-top-cnt-new-price productsum">
                    <x-newprice>37,99</x-newprice>
                    <x-currency>€</x-currency>
                  </div>
                </div>
              </div>
              <input name="offer_id" type="hidden" value="{offer_id}">
              <input name="geo" type="hidden" value>
              <input name="web_id" type="hidden" value="{web_id}">
              <input name="click_id" type="hidden" value="{click_id}">
              <input name="time_zone" type="hidden" value="+3">
              <input name="lang" type="hidden" value="RU">
              <input class="input-form phone" name="name" type="text" placeholder="Nome" required>
              <input class="input-form phone" name="phone" type="tel" placeholder="Telefono (cellulare attivo)"
                     required>
              <div class="reolader">
                <button class="mm_button button submit-btn">LASCIA UNA RICHIESTA</button>
                <div class="ajax_loader_block"><img class="ajax_loader" src="images/ajax-loader.gif" alt> <span
                  class="ajax_loader"></span></div>
              </div>
              
              <div class="contact-bottom-txt">Quantità rimasta <br>in promozione: <span>15</span><br><i></i></div>
            </form>
          </div>
        </div>
      </div>
    </footer>
  </main>
</div><!--site-wrapper-->
<footer>
  BEAUT-E SHOP
  <br>
  Calle Virgen del Espino, 17, 28027 Madrid, Spain
  <br>
  © 2013-
  <script>document.write(new Date().getFullYear())</script>
  All rights reserved.
  <br>
  <img src="images/icons.png" style="width: auto; max-width:100%; height:auto; margin: auto">
  <br>
  <a href="/privacypolicy" target="_blank">Privacy policy</a>
  <a href="/general-conditions-of-sale" target="_blank">General conditions of sale</a>
  <a href="/legal-warning" target="_blank">Legal warning</a>
</footer>
<!-- Модальное окно -->
<div id="main-modal" class="mfp-hide modal-window">
  <div class="modal-wrap">
    <div class="modal-title">
      PEDIR
    </div>
    <div class="modal-form-wrap">
      <form method="post" class="contact-form">
        <input name="offer_id" type="hidden" value="{offer_id}">
        <input name="geo" type="hidden" value>
        <input name="web_id" type="hidden" value="{web_id}">
        <input name="click_id" type="hidden" value="{click_id}">
        <input name="time_zone" type="hidden" value="+3">
        <input name="lang" type="hidden" value="RU">
        <input class="input-form phone" name="name" type="text" placeholder="Nombre" required>
        <input class="input-form phone" name="phone" type="tel" placeholder="Teléfono (móvil activo)" required>
        <div class="reolader">
          <button class="mm_button button submit-btn">PEDIR</button>
          <div class="ajax_loader_block"><img class="ajax_loader" src="images/ajax-loader.gif" alt> <span
            class="ajax_loader"></span></div>
        </div>
      
      </form>
    </div>
  </div>
</div>
<style>
  .form-control {
    border: 1px solid #e9e9e9;
    background-color: #f5f5f5;
    margin-bottom: 0.88rem;
    padding: 0.7rem 0.72rem;
    width: 100%;
  }
</style>
<!-- Модальное окно -->

<!-- Scripts -->
<script src=" https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/jQuery-Mask-Plugin.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.event.move.js"></script>
<script src="js/jquery.twentytwenty.js"></script>
<script src="js/owl.carousel.min.js"></script>

<script src="js/my-scripts.js"></script>
<style>.productsum::after {
  content: '';
}</style>



</body>
</html>